body {
  background: #141414;
  color: #fff;
  padding: 5px;
}

.boardcontainer {
  display: flex;
}

.board {
  margin-bottom: 5px;
  margin-right: 10px;
}

.scoreboard table {
  width: 200px;
}

.board canvas {
  border: 3px solid #fff;
  background: #000;
}
